.dl-home-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x68;');
}
.dl-home {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x48;');
}
.dl-mail-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x65;');
}
.dl-mail {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x45;');
}
.dl-message-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x6d;');
}
.dl-message {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x4d;');
}
.dl-phone-alt-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x5b;');
}
.dl-phone-alt {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x5d;');
}
.dl-phone-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x28;');
}
.dl-phone {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x29;');
}
.dl-picture-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x70;');
}
.dl-picture {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x50;');
}
.dl-save {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x53;');
}
.dl-save-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x73;');
}
.dl-display-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x64;');
}
.dl-display {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x44;');
}
.dl-globe-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x67;');
}
.dl-globe {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x47;');
}
.dl-camera-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x63;');
}
.dl-camera {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x43;');
}
.dl-location-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x6c;');
}
.dl-location {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x4c;');
}
.dl-book-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x62;');
}
.dl-book {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x42;');
}
.dl-dots-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2e;');
}
.dl-user-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x75;');
}
.dl-user {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x55;');
}
.dl-dots {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2026;');
}
.dl-menu {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2d;');
}
.dl-chevron-down {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x3f;');
}
.dl-chevron-left {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x3c;');
}
.dl-chevron-up {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x3d;');
}
.dl-chevron-right {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x3e;');
}

