
body {

    -webkit-app-region: drag;
    margin: 0;
    padding: 0;
    font: 400 16px/1.65 Lato;
}

main {
    box-sizing: border-box;
    padding: 1rem 1rem 8rem;
    min-height: 100vh;
}

footer {
    box-sizing: border-box;
    padding: 1rem;
    background: #484a52;
    bottom: 0;
    position: absolute;
    height: 7rem;
    color: #e0e0e0;
}
