

/*
$color: #db1e7e74;
$color-text: #505050;
*/
body {
  margin: 0;
  padding: 0;
  font: 300 16px/1.65 Open Sans, Montserrat, Helvetica Neue, Helvetica, Arial, Sans-serif;
  background: #f0f0f0;
  color: #505050;
}

h1 {
  margin: 0;
  padding: 2em 0;
  letter-spacing: -0.05em;
  font-weight: 400;
  text-transform: uppercase;
  font-family: montserrat, open sans, helvetica neue, arial, sans-serif;
  text-align: center;
}

i {
  font-size: 2em;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #505050;
  display: inline-block;
  float: left;
  margin: 0 1px 0 0;
  padding: 0.5em 0.75em;
  transition: all .12s;
}

a:hover {
  color: #e0e0e0;
  background: #242424;
}


main {
  clear: both;
  background: rgba(200, 204, 215, 0.15) none repeat scroll 0% 0%;
  padding: 10em 20vw;
}
